
nav{
    @include flexRow(space-between);
    background-color: $primaryColor;        
    padding: 20px 100px; 
    a{
        color: $sectionFiveBG;
        font-size: 1rem;
        padding: 10px;
        &:hover{
            @include hoverStyle();
        }
    }  
}
#logo img{
   width: 60px;  
   border-radius: 50%;
   border: $secondaryColor 2px solid;
 }
 .nav-bg{
     @include flexRow(flex-end);
    padding-top: 10px;
}
 @media screen and (max-width:800px){
    nav{
        padding: 20px 20px ;
        a{
            font-size: 0.8rem;
        }
    }
    .flex-row.card{
       padding: 20px;
    }
 }