$basicColorOne: white;
$basicColorTwo: beige;
$basicColorThree: hsl(0, 0%, 98%);

$boxShadowPrimaryColor: grey;
$boxShadowSecondaryColor: hsla(12, 88%, 59%, 0.07);

$parallaxHeader: rgb(92, 150, 216);

$primaryBGColor: cornsilk;
$primaryColor: navy;
$SecondaryBGColor:  hsl(225, 3%, 49%);
$secondaryColor: goldenrod;
$secondaryColorDark: darkgoldenrod;

$sectionOneBG: lightgoldenrodyellow;
$sectionTwoBG: mintcream;
$sectionFiveBG: honeydew;
$sectionSevenBG: hsl(233, 12%, 13%);
$sectionParallaxBG: rgba(43, 43, 46, 0.8);

@mixin flexRow($content) {
    display: flex;
    flex-direction: row;    
    justify-content: $content;    
}




