@import "./_variables";
@import "./ui";
@import "./navigation";
@import "./footer";

@mixin hoverStyle() {
    color: $secondaryColor;
    transform: scale(1.1);
    cursor: pointer;
}

/***translate***/
.choose-language{
    text-align: right;
    background-color: $primaryColor;
    padding: 0px 40px 10px 0px;
}
.translate{   
    display: inline-block;
    padding: 5px 15px 0px 15px;
    color: $basicColorOne;
    &:hover{
        @include hoverStyle();        
    }
}
/*POPUP*/
fieldset {
    width: 260px;
    border: 0px solid $secondaryColorDark;
    color: $primaryColor;    
}
input {
    width: 250px;
    height: 30px;
    margin: 5px;
    border: 1px solid $secondaryColor;
    padding: 2px;
}
#my_signIn input:nth-of-type(3),
#my_signUp input:nth-of-type(6){
    background-color: $primaryColor;
    border: solid 1px $primaryColor;
    color: $sectionFiveBG;
    &:hover{
        @include hoverStyle();
        border: solid 1px $secondaryColor;
    }
}
#my_signIn input:nth-of-type(4):hover,
#my_signUp input:nth-of-type(7):hover{
    @include hoverStyle();
    border: solid 1px $secondaryColor;
}

#pickUp_signIn,
#pickUp_signUp {
    text-align: center;
    position: fixed;
    right: 90px;
    top: 15px;
    display: none;
    background-color: $basicColorTwo;
    border: 2px solid $secondaryColor;
    z-index: 9;
}
.close_popup img{
    padding-top: 15px;
    padding-left: 220px;
    width: 15px;
}
.hide-form{
    width: 20px;
    height: 20px;
    margin: 10px;
    position: relative;
    left: 100px;
}


/*SEKCIJA*/

.section_one{
    background-color: $sectionOneBG; 
    padding: 10% 5%;    
   @include flexRow(space-evenly);
    flex-wrap: wrap;
    a{
        color: $secondaryColorDark;
        display: block;
    }
    figure {
        width: 152px;    
        font-weight: bold;
        @include flexColumn();
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: solid 1px $basicColorOne;
            box-shadow: $boxShadowPrimaryColor 0px 0px 10px;
            margin: 15px;
        }
        &:hover{
            @include hoverStyle();
        }
    }
}
.section_two {
    background-color: $sectionTwoBG;
    text-align: center;
    @include flexRow(center);
    flex-wrap: wrap;
}
.content{
    width: 400px;
    padding: 15px;
    p{
        padding:10px;
    }
}
hr{
    margin: 10px
}
.show-less,
.hide-text{
    display: none;
}
.show-less,
.show-more{
    color: $secondaryColor;
    cursor: pointer;
}
/***Section three****/
.section_three{
    background-color: $sectionTwoBG;    
      h1{
        text-align: center;
        color: $secondaryColor;
      } 
      img {
        border: 0px;
        width: 200px;
        height: 200px;
        margin: 8px 50px;
        justify-content: center;
      }
      p{   
        text-align: left;
        color: $basicColorOne;
      }
     h4{
        color: $parallaxHeader;
        padding: 10px 0px;
       }
    h5{
        color: $parallaxHeader;
        padding: 2px 1px;
    }
}
.section_six h1{
    text-align: center;
    color: $secondaryColor;
}
h1{
    padding: 10px;
}
.parallax {   
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax_image_one{     
     background-image: url('../images/webp/balerina9.webp');
}
.description{
    width: 100%;
    background-color: $sectionParallaxBG;
    display: flex;
    flex-direction: column;

}
.premiere {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap:nowrap;
    justify-content: center;
    box-sizing: border-box;
    font-size: 12px;
    padding: 25px;
    width: 50%;
    margin-bottom: -120px;
    margin-left: 50%;
    margin-right: 0px;
}
.premiere:nth-of-type(2){
    margin-right: 50%;
    margin-left: 0px;
    flex-direction: row;
}
.parallax-text{
    @include flexColumn();
}
.popuna{
    height: 200px;
    background-color: $sectionTwoBG;
    background-color: $secondaryColor;
}
/***slider***/
button:hover{
    background-color: $secondaryColor;
    cursor: pointer;
}
h2{
    color: $primaryColor;
    padding: 10px;
}


h3{
    margin-left: -100px;
    display: inline-block;
}
/*SLIDER -  it is very important, that we define width, and now we can see whole slider.
overflow-x: auto showing scroll bar, but on responsive scroll bar still exist, and I have to move it.
If we want to overflow works , we have to define height of element. Element have to be block or flex.*/
.slider{    
    display: flex;   
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 345px;
    width: 1465px;    
    position: relative;
    left: 0px;
}
.slider-dots{
    display: none;
}
.slide{
    width: 550px;
    background-color: $basicColorThree;
    text-align: center;
    margin: 50px 20px;  
    img{
        height: 100px;
        position: relative;
        top: -50px;
        border-radius: 50%;
    }
    p{
        width: 460px;
        padding:0px 50px;
        font-size: 1rem;    
    }
} 
.section_four{
   @include flexColumn();
    padding: 20px 0px;
}
/**images credits**/
.image-credit{
    background-color: $sectionSevenBG;
    padding: 10px;
    color: $parallaxHeader;
    font-size: small;
    a{
        font-size: x-small;
        color: $boxShadowPrimaryColor;
        text-align: left;
    }
    span{
        display: inline;
    }
}

.image-credit-spans{
    @include flexRow(space-evenly);
    flex-wrap: wrap;
    div{
        font-size: x-small;
    }
}
 
/***comment form**/
.comment-form{
    padding: 30px 60px;
    align-self: left;
}
.form-div{
    @include flexRow();
}
textarea{
    margin: 6px 15px;
    border: $secondaryColor 1px solid;
    padding: 2px;
}
.comment-form{
    display: none;
}
/**program*/
.program-row{
    @include flexRow(space-evenly);
    align-content: center;
    padding: 10px 30px;
}
.program-img{
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
}
.program-item{
   border-left: $secondaryColor 1px dashed;
   border-left: $parallaxHeader 1px dashed;
    height: 50px;
    padding: 10px;
    width: 190px;    
    font-size: 12px;   
}
.img-container{
    width: auto;
    border-left: 0px;
}
.head{
    font-weight: bold;    
    color: $parallaxHeader;
    background-color: $sectionParallaxBG;
}

/****customer service****/
.customer-service-content{
    padding: 150px;
    text-align: left;
    background-color: $sectionFiveBG;
    h1{
        text-align: center;
    }
}

/****location***/
.location-section{
    padding: 50px 0px;
    background-color: $sectionSevenBG;
}
.section-seven{
    @include flexRow(space-evenly);    
}

.location-slider{
    left: 355px;
    display: flex;   
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 415px;
    width: 2000px;    
    position: relative;
    transition: 1s;
    overflow-x: hidden;
    
}
.location-dots{
    display: initial;
}
.location-dot{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    border-radius: 50%;
    border: 2px solid $secondaryColor;
}
.active{
    background-color: $secondaryColor;
}

.location-slide{
   width: 430px;   
   background-color: $secondaryColor;
   text-align: center;   
   margin: 50px 0px;
   img{
    height: 300px;
    position: relative;
    top: -50px;    
}
}

.location-first{
    width: 300px;    
    background-color: $sectionSevenBG;
    z-index: 1;
    color: $secondaryColor;
    padding: 30px 20px;
    font-size: 12px;
    p, h1{
        padding: 15px;
    }
}
.left{
    @include flexColumn();
    width: 450px;    
}
.location-img-caption{
    font-size: x-small;    
}
.right{
    background-color:$sectionSevenBG;
    padding: 65px;
    z-index: 1;
    width: 600px;
}
/****google map***/
.footer-google-map__iframe{
    width: 400px;
    height: 300px;
}

@media screen and (max-width: 1000px){
    .section_three img {
        margin: 15px 15px;
    }   
    .popuna{
        height: 200px;
        background-color: $sectionParallaxBG;
        background-color: $secondaryColor;
    } 
    .slider{
        width: 700px;
    }
    .location-first p,
    .location-first h1{
        display: none;
    }    
}
@media screen and (max-width: 800px){
   
    .section_one{
        padding: 10px 20px;
        figure{
            width: 102px;
            margin: 20px 27px;
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
.description{
    flex-direction: column;
    flex-wrap: wrap;
}
.premiere{
flex-direction: row-reverse;
margin: 0px;
width: 100%;
font-size: 11px;
padding: 25px;
}
.premiere:nth-of-type(2){
flex-direction: row;
   
}
.popuna{
    height: 0px;
}
.section_three h4,
.section_three h5{
    text-align: center;
}
.slider{
    width: 490px;
}
.hide-item{
   display: none;
}

/*****customer service****/
.customer-service-content{
    padding: 100px;
}
/***location**/
.footer-google-map__iframe{
    width: 200px;
    height: 150px;
}
.right{
    padding: 20px;
}
}
@media screen and (max-width: 560px){
    
    .form-div{
        @include flexColumn();
        input, textarea{
            width: 250px;
        }
        
    }
    textarea{
        margin: 6px 5px;
    }
    .customer-service-content{
        padding: 50px;
        font-size: 12px;        
    }
    /**program*/
    .program-item{
        font-size: 10px;
    }
    .location{
        width: 100%;
    }
}
@media screen and (max-width: 400px){
    .choose-language{
        padding-right: 30px;
    }    
    .section_one{
        padding: 50px 20px;
        figure{
            margin: 40px 27px;
        }
    }
    fieldset {
        width: 260px;
        color: $primaryColor;    
        padding: 40px;
    }
    #pickUp_signIn,
    #pickUp_signUp {
        padding: 20px;
        text-align: center;
        position: fixed;
        right: 0px;
        top: 0px;
        display: none;
        background-color:$basicColorTwo;
        border: 0px;
        z-index: 9;
        width: 100%;
        height: 700px;
    }
    .description{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .premiere,
    .premiere:nth-of-type(2){
        @include flexColumn();
        margin: 0px;
        width: 100%;
    }
    .section_three h4,
    .section_three h5{
        text-align: center;
    }
    
    /**location**/
    .section-seven{
        flex-direction: column;
    }
    .location-first p,
    .location-first h1{
        display: block;
    }
    .right{
        padding: 50px 0px;
    }
    .footer-google-map__iframe{
        width: 400px;
        height: 300px;
    }
    /*****slider***/
     /*slide efekat achieved with change left position, 
    but we could also  make this effekte with transform:translateX(375px), it is better solution when 
    we use swipe on mobile instead onclick . */       
    
/*.slider{ 
     
    left: 185px;  
    transition: 2s; 
    overflow-x: hidden;  
    width: 1400px; 
}
.slider-dots{
    display: initial;
}
.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid goldenrod;
}
.active{
    background-color: goldenrod;
}
.slide{
   width: 375px;      
   margin: 50px 0px;
}
.slide p{
    font-size: 0.8rem;
    width: 100%;        
}
*/
    
}


