#entry-container{
    padding: 50px;
}
h1 {
    position: absolute;
    font-size: 8px;
    /*color: mintcream;*/
    padding: 20px;
    font-weight: lighter;
}
h3{
    font-size:44px;
    color:darkgoldenrod;
}

fieldset {
    width: 500px;
    border: 2px solid darkgoldenrod;
    /*font-weight: bold;*/
    background-color: beige;
    color: navy;    
    text-align: right;
    padding: 20px;
}
input {
    width: 250px;
    height: 30px;
    margin: 5px;
    border: 1px solid goldenrod;
    padding: 2px;
}
input[name="rh"]{
    max-width: 100px;
}
.button {
    /*  border-radius: 30px;*/
      /*border: 0cm;*/
      padding: 2px;
      text-decoration: none;
      width: 138px;
      height: 30px;
      margin: 5px;
      border: 1px solid goldenrod;  
  }
  .button[type="button"]{
      background-color: navy;
      border: navy 1px solid;
      color: white;
  }
  .button:hover,
  #eshop-buttons :hover, a :hover {
      background-color: goldenrod;
      color: white;
      font-weight: bold;
  }
  @media screen and (max-width: 400px){
      #entry-container{
          padding: 10px;
      }

      h3{
          font-size: 28px;
      }
      fieldset{
          width: 250px;
          margin: 10px;
          text-align: center;
      }
      input {
          width: 250px;
      }
      .button{
          width: 250px;
          height: 30px;
      }
      #quantity-button,
      #kolicina{
          width:  120px;
          float: left;
        
      }
  }