*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgoldenrodyellow;
}
h2{
    color: navy;
    text-align: center;
}
h1 {
    position: absolute;
    font-size: 8px;
}
#shops div {
    color: darkgoldenrod;    
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
#shops div:hover{
    color: navy;
}
#shops{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.shops-img {
    border-radius: 15px;
    width: 143px;
    height: 140px;
    margin: 20px;
}
.shops-img:hover {
    box-shadow: 10px 10px 8px #888888;
}

/**Balet shop**/

.open-store {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    /*background-image: radial-gradient(white, goldenrod);*/
    background-color: mintcream;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin: auto;
}
.items-img {
    width: 200px;
    height: 200px;
    padding-right: 20px;
    border-radius: 15px;
}
.items-text{
    text-align: left;
}
p{
    padding: 3px;
    font-size: 14px;
}
.item-card{
    height: 200px;
    width: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
}
span{
    font-weight: bold;
}
 input{
    width: 50px;
    height: 20px;    
}

/*.opis1 {
    display: flex;
}*/
/*OVO je izmenjeno*/
/*#korpa {
    flex-wrap: wrap;
}
#omotacDugme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.omotacKorpe{
    background-image: radial-gradient(white, goldenrod, grey);
}



p {
    padding: 20px;
}

.dugme {
    border-radius: 30px;
    border: 0cm;
    padding: 20px;
    text-decoration: none;
    width: 100px;
    height: 50px;
    margin: 5px;
}
button :hover{
    background-color: brown;

}
.dugme :hover,
#omotacDugme :hover, a :hover {
    background-color: darkgoldenrod;
    color: white;
    font-weight: bold;
}
*/
@media screen and (max-width: 750px){    
    .shops-img{
        margin: 30px 5px;
    }
    h4{
        font-size: 14px;
    }
    .items-img{
        width: 130px;
        height: 130px;
    }
    .item-card{
        margin: 20px 10px;
        height: 130px;
        width: 230px;
    }

    p{
        font-size: 8px;
    }
    input{
        height: 15px;
    }
  }