
body{
    background-color: lightgoldenrodyellow;
}
h2{
    color: navy;
    text-align: center;
}
img {
    position: relative;
    display: block;
    border-radius: 15px;
    margin-bottom: 10px;
   /* margin-left: auto;
    margin-right: auto;*/
    /*width: 345px;
    height: 260px;*/
}
/*
p {
    background-color: lightgray;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    left: 45%;
    margin: 10px;
    cursor: pointer;
}
*/
h1 {
    position: absolute;
    font-size: 8px;
}
/*#omotac1 {
    display: flex;
    justify-content: center;
}*/

#shops a {
    color: darkgoldenrod;    
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
#shops a:hover{
    color: navy;
}

#shops{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.shops {
    width: 143px;
    height: 140px;
    margin: 20px;
}
.shops:hover {
    box-shadow: 10px 10px 8px #888888;
}
@media screen and (max-width: 750px){
    
    .shops{
        margin: 30px 5px;
    }
  }