*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: navy;
}
nav{
    padding: 20px 100px;
}
#eshop-navigation{
    position: sticky;
    top: 0px;
    background-color: navy;
}
h2{
    color: mintcream;
    text-align: center;
    padding: 20px;
}
h1 {
    position: absolute;
    font-size: 8px;
    color: mintcream;
    padding: 20px;
    font-weight: lighter;
}
#shops div {
    color: mintcream;    
    text-align: center;
    padding: 5px;
    
}
#shops div:hover{
    color: goldenrod;
}
#shops{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
#balet.shops-img.active{
background-color: orange;
}
.shops-img {
    /*border-radius: 15px;*/
   /* border: rgba(245, 255, 250, 0.7) solid 3px;*/
    /*background-color: mintcream;*/
    width: 120px;
    height: 120px;
    margin: 10px;
}

.shops-img:hover {
    /*box-shadow: 10px 10px 8px #888888;*/
    transform: scale(1.1);    
   /* background-color: rgba(226, 215, 186, 0.1);
    border-radius: 50%;*/
}

/**Balet shop**/

.open-store {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    /*background-image: radial-gradient(white, goldenrod);*/
    background-color: mintcream;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    margin: auto;
}
.items-img {
    width: 200px;
    height: 200px;
    padding-right: 20px;
    border-radius: 15px;
}

.items-text{
    text-align: left;
}
.items-name,
.items-author,
.items-scene,
.items-price{
    font-size: 12px;
    text-transform: capitalize;
    
}
p{
    padding: 3px;
    font-size: 14px;
}
.item-card{
    height: 200px;
    width: 380px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:40px  20px;
}
span{
    font-weight: bold;
}
 input{
    width: 50px;
    height: 20px;    
}

/*.opis1 {
    display: flex;
}*/
/*OVO je izmenjeno*/
#korpa {
    flex-wrap: wrap;
}
#eshop-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.omotacKorpe{
   /* background-image: radial-gradient(white, goldenrod, grey);*/
   background-color: navy;
}
/*p {
    padding: 20px;
}*/

.button {
  /*  border-radius: 30px;*/
    border: 0cm;
    padding: 20px;
    text-decoration: none;
    width: 200px;
    height: 50px;
    margin: 5px;
}
/*button :hover{
    background-color: brown;
}*/
.button :hover,
#eshop-buttons :hover, a :hover {
    background-color: darkgoldenrod;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 750px){    
    nav{
        padding: 10px;
    }
    #shops{
        padding-bottom: 10px;
    }
    .shops{
        margin: 70px 20px;
    }
    .shops-img{
        width: 100px;
        height: 100px;
        margin: 10px 5px;
    }
    h4{
        font-size: 12px;        
       /* font-weight: lighter;*/
    }
    h2{
        padding: 40px;
        font-weight: lighter;
    }
    .button{        
        height: 40px;
        padding: 15px;
    }
    .items-img{
        width: 130px;
        height: 130px;
    }
    .item-card{
        margin: 20px 10px;
        height: 130px;
        width: 320px;
    }
    p{
        font-size: 12px;
    }
    input{
        height: 15px;
    }
  }