/*POPUP*/
fieldset {
    width: 260px;
    border: 0px solid darkgoldenrod;
    /*font-weight: bold;*/
    color: navy;    
}
input {
    width: 250px;
    height: 30px;
    margin: 5px;
    border: 1px solid goldenrod;
    padding: 2px;
}
#my_signIn input:nth-of-type(3){
    background-color: navy;
    border: solid 1px navy;
    color: honeydew;
}
#my_signIn input:nth-of-type(3):hover,
#my_signIn input:nth-of-type(4):hover{
    background-color: goldenrod;
    border: solid 1px goldenrod;
}
#my_signUp input:nth-of-type(6){
    background-color: navy;
    border: solid 1px navy;
    color: honeydew;
}
#my_signUp input:nth-of-type(6):hover,
#my_signUp input:nth-of-type(7):hover{
    background-color: goldenrod;
    border: solid 1px goldenrod;
}

#pickUp_signIn,
#pickUp_signUp {
    text-align: center;
    position: fixed;
    right: 90px;
    top: 15px;
    display: none;
    background-color: beige;
    border: 2px solid goldenrod;
    z-index: 9;
}
.close_popup img{
    padding-top: 15px;
   padding-left: 220px;
   width: 15px;
}
.hide-form{
    width: 20px;
    height: 20px;
    margin: 10px;
    position: relative;
    left: 100px;
}


/*SEKCIJA*/

.section_two {
    text-align: center;
    justify-content: center;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section_one{
    background-color: lightgoldenrodyellow; 
    padding: 8% 5%;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section_one a{
    color: darkgoldenrod;
    display: block;
}
.section_two{
    background-color: mintcream;
    /*background-color: honeydew;*/
}
.section_one figure {
    width: 152px;    
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section_one figure img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px white;
    box-shadow: gray 0px 0px 10px;
    margin: 15px;
}
figure:hover{
    transform: scale(1.1);
}
.content{
    width: 400px;
    padding: 15px;
}
.content p
{
    padding:10px;
}
hr{
    margin: 10px
}
/***Section three****/
.section_three{
    background-color: mintcream;    
    padding: 5%;   
}
.section_three h1{
    text-align: center;
    color: goldenrod;
}

.parallax {   
    /* Full height */
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax_image_one{     
     background-image: url('../images/balerina9.jpg');
}
#parallax_image_two{     
     background-image: url('../images/balerina7.jpg');
}
#parallax_image_three{     
     background-image: url('../images/balerina8.jpg');
}
.description {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    box-sizing: border-box;
   background-color: lightgoldenrodyellow;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    
}
.section_three img {
    border: 0px;
    width: 200px;
    height: 200px;
    margin: 8px 50px;
    justify-content: center;
}
.section_three p, 
.section_three h4{
    padding: 0px  20px ;
    text-align: center;
    color: grey;
}
.section_three h4{
    color: navy;
}

@media screen and (max-width: 750px){
    .section_one{
        padding: 10px 20px;
    }
.section_one figure img {
    width: 100px;
    height: 100px;
}
.section_one figure{
    width: 102px;
    margin: 20px 27px;
}
.description{
    flex-wrap: wrap;
}
}
@media screen and (max-width: 500px){
    .section_one{
        padding: 50px 20px;
    }
    .section_one figure{
        margin: 40px 27px;
    }
    fieldset {
        width: 260px;
        color: navy;    
        padding: 40px;
    }
    #pickUp_signIn,
    #pickUp_signUp {
        padding: 20px;
        text-align: center;
        position: fixed;
        right: 0px;
        top: 0px;
        display: none;
        background-color: beige;
        border: 0px;
        z-index: 9;
        width: 100%;
        height: 700px;
    }
    
}
