/*SEKCIJA*/

.section_one, 
.section_two {
    text-align: center;
    justify-content: center;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section_one{
    background-color: lightgoldenrodyellow;    
    padding: 5%;
    
}
.section_one a{
    color: darkgoldenrod;
}
.section_two{
    background-color: mintcream;
    /*background-color: honeydew;*/
}
.section_one figure {
    width: 25%;    
    color: darkgoldenrod;
    font-weight: bold;
    align-content: center;
}

.section_one figure img, 
.section_one figure i {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px white;
    box-shadow: gray 0px 0px 10px;
    margin: 5px;
}
.section_one figure i{
    background-color: rgb(27, 1, 1);
    color: goldenrod;
    font-size: 48px;   
}
figure:hover{
    transform: scale(1.1);
}
.content{
    width: 400px;
    padding: 5px;
}
/***Section three****/
.section_three{
    background-color: mintcream;    
    padding: 5%;   
}
.section_three h1{
    text-align: center;
    color: goldenrod;
}

.parallax1 {
    /* The image used */
    background-image: url('../images/balerina2.jpg');
    /* Full height */
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url('../images/balerina7.jpg');
    /* Full height */
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url('../images/balerina8.jpg');
    /* Full height */
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opis {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    box-sizing: border-box;
    background-image: radial-gradient(white, goldenrod, grey);
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.opis1 {
    display: flex;
}
.section_three img {
    border: 0px;
    width: 200px;
    height: 200px;
    margin: 8px 50px;
    justify-content: center;
}
.section_three p, 
.section_three h4{
    padding: 0px  20px ;
    text-align: center;
}

@media screen and (max-width: 500px){
    .section_one{
        padding: 5%;
    }
.section_one figure img,
.section_one figure i {
    width: 100px;
    height: 100px;
}
}
