header{
    padding: 7px 15px;
    background-color: navy;
}
#logo img{
   width: 60px;
   float: left;
  border-radius: 50%;
  border: goldenrod 2px solid;
}

#logo{
    background-color: navy;
}
a {
    color: honeydew;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}

nav a:hover{
    transform: scale(1.1);
    color: goldenrod;
}

ul {
    list-style: none;
    float: right;
}
li {
    display: inline-block;
}
@media screen and (max-width:500px){
    
}