header{
    padding: 5px;
    background-color: navy;
}
#logo img{
   width: 60px;
   float: left;
  border-radius: 50%;
  border: goldenrod 2px solid;
}
#logo{
    background-color: navy;
}
a {
    color: darkgoldenrod;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
nav a:hover{
    transform: scale(1.1);
    color: honeydew;
}
nav {
    
    text-transform: uppercase;
}
ul {
    list-style: none;
    float: right;
}
li {
    display: inline-block;
}
@media screen and (max-width:500px){
    
}