nav{
    background-color: navy;
    display: flex;
    flex-direction: row;    
    padding: 50px 100px;   
}
nav div{
    width: 33%;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
.nav-bg{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   /* position: relative;
    right:100px;
    top: -250px;*/
}
.nav-mobile{
    
    display: none;
}

#logo img{
   width: 60px;  
  border-radius: 50%;
  border: goldenrod 2px solid;
}
a {
    color: honeydew;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}
nav a:hover{
    transform: scale(1.1);
    color: goldenrod;
}
@media screen and (max-width:500px){
    nav{
        padding: 30px;     
   }   
    nav div{
        width: 45%;
        justify-content: flex-end;
    }
   div.nav-menu, .nav-bg{
       display: none;
   }    
  /* .nav-menu{
       background-color: pink;
       padding: 50px 90px;
       text-align: center;
       position: absolute;
       top: 80px;
       left: 40px;
       z-index: 3; 
             
   }*/
   /*.nav-bg-menu{
       position: absolute;
       top: -30px;
       left: 0px;
       width: 375px;
       height: 850px;
       background-color: hsl(227, 12%, 61%);       
       background-image: linear-gradient(white 5%, black);
       opacity: 0.6;
       z-index: 1;
   }*/
   .nav-menu a{
       display: block;
       padding: 10px;
       font-weight: bold;
   }
   
   .nav-bg{
      /* position: relative;
       top: -170px;
       right: 70px;*/
   }
   .nav-mobile{
    
       display: inherit;
   }
   .nav-hamburger{        
       display: inherit;
           
   }
   .nav-close{
       display: none;
   }
    
}