.shoppingCard-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#table-main{
    border-spacing: 3px 3px;
}
/*#table-of-reserved-performances :nth-child(even){
    background-color: orangered;
}*/
th, 
td{
    font-weight: lighter;       
    padding: 10px;
   /* display: table-column;*/
   /* width: 60px;*/
}
th{
    font-size: 12px;
   
}
td{
    border-right: dashed 1px olive;
    /*border-bottom: dashed 1px olive;*/
    margin: 2px;
    font-size: 10px;
    text-align: right;
}

.rezervacija,
.naziv,
.cena,
.iznos,
.obrisi{
    font-weight: bold;
}
#pay-button{
    display: none;
}
@media screen and (max-width: 750px){
    .shoppingCard-container{
        padding: 10px;
    }
    .autor,
    .datum,
    .kolicina,
    .vrsta,
    .scena{
        display: none;
    }

}