.shoppingCard-container{
    padding: 30px;
}
#table-main{
    border-spacing: 3px 3px;
}
/*#table-of-reserved-performances :nth-child(even){
    background-color: orangered;
}*/
th, 
td{
    font-weight: lighter;       
    padding: 10px;
}
th{
    font-size: 12px;
}
td{
    border-right: dashed 1px olive;
    margin: 2px;
    font-size: 10px;
    text-align: right;
}

.rezervacija,
.naziv,
.cena,
.iznos,
.obrisi{
    font-weight: bold;
}

@media screen and (max-width: 750px){
    .shoppingCard-container{
        padding: 10px;
    }
   

}
@media screen and (max-width: 500px){

.autor,
.datum,
.kolicina,
.vrsta,
.scena{
    display: none;
}
}