@import "./variables";
@import "./ui";
@import "./navigationEShop";


.shoppingCard-container{
    padding: 30px;
    @include flexColumn();
}
h1{
    position: relative;
}
#table-main{
    border-spacing: 3px 3px;
}
th, 
td{
    font-weight: lighter;       
    padding: 15px;
}
th{
    font-size: 12px;   
}
td{
    border-right: dashed 1px $secondaryColor;
    border-collapse: collapse;
    margin: 2px;
    font-size: 10px;
    text-align: right;
    .iznos{
        border-left: dashed 1px $secondaryColor;
        border-right: 0px;
    }
}
.obrisi{
    background-color: $primaryColor;
    color: $basicColorOne; 
    border-radius: 15px;
    border: $basicColorOne 3px solid;  
}
.obrisi:hover{
    background-color: $secondaryColor;
}
.image{
    display: none;
}
.rezervacija,
.naziv,
.cena,
.iznos,
.obrisi,
.obrisi-header{
    font-weight: bold;
}
input{
    background-color: $secondaryColor;
    color: $basicColorOne;
    height: 40px;
    width: 170px;
    text-align: center;
    border: 0px;
    font-weight: bold;
    margin: 5px;
}
button {
      background-color: $primaryColor;
      color: $basicColorOne;
      border: 0cm;
      padding: 20px;
      text-decoration: none;
      width: 172px;
      height: 50px;
      margin: 5px;
      :hover{
         background-color: $secondaryColor;
         font-weight: bold;
     }
  }
#pay-button{
    display: none;
}
@media screen and (max-width: 800px){
    .shoppingCard-container{
        padding: 10px;
    }
    th, td{
        padding: 15px ;
    }
    .autor,
    .datum,
    .kolicina,
    .vrsta,
    .scena{
        display: none;
    }

}
@media screen and (max-width: 400px){
    th, td{
        padding: 10px 5px;
    }
}