<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Unos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style//navigationEShop.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../style/entry.css"/>
    <link rel="icon" href="../images/drama6.jpg" type="image/jpg">

</head>

<body>
    <nav class="flex-row ">
        <div id="logo">
            <a href="../index.html">
                <img class="nav-img-logo" src="../images/drama6.jpg">
            </a>
        </div>
        <div class="nav-bg card" >
            <a  title="Idite na prodaju..."  href="./sale.html"><i class="fa fa-opencart" >  </i> Prodaja </a>
            <a id="signOut"  href="../index.html" onclick="signOutEshop('pokupi')">Sign Out</a>     
        </div>
    </nav>

    <div id="entry-container">
        <h3> <i class="fa fa-opencart" > UNOS DOGAĐAJA </i></h3>      
         


       
        <!--<form id="pokupi" style="display: none">-->
        <form id="pokupi">
            <fieldset>
                <legend>Unos događaja</legend>

                Naziv događaja:
                <span class="greska" title="Pogrešan unos. Unesite naziv događaja"></span>
                <input type="text" placeholder=" Naziv događaja" id="naziv" onblur="valid('naziv', 0)" onfocus="unos(0)" required>
                <br> Autor:
                <span class="greska" title="Pogrešan unos. Unesite ime i prezime autora"></span>
                <input type="text" placeholder=" Ime autora" id="autor" onblur="valid('autor', 1)" onfocus="unos(1)" required>
                <br>Cena:
                <span class="greska" title="Pogrešan unos. Unesite cenu ulaznice"></span>
                <input type="number" placeholder=" Cena ulaznice" id="cena" onblur="validBroj()" onfocus="unos(2)" required>
                <br> Datum događaja:
                <span class="greska" title="Pogrešan unos. Unesite datum događaja"></span>
                <input type="date" id="datum" name="bday" required><br> Vrsta događaja:
                <input list="grupa" name="grupa" id="vrstaDogadjaja" placeholder=" Vrsta događaja"><br>
                <datalist id="grupa">
                    <option value="Opera">
                    <option value="Balet">
                    <option value="Predstava">
                    <option value="Filharmonija">
                </datalist><br>
                <button type="button" class="button" id="quantity-button" onclick="brojUlaznica()"> Količina:</button>
                <input type="number" placeholder=" Količina" id="kolicina" readonly>
               
                
                <br><br><p>Izaberite scenu:</p>
                
                <input type="radio" class="radiobutton" name="rh" id="pozitivna" checked><label for="pozitivna"> Mala scena:</label>
                <input type="radio" class="radiobutton" name="rh"><label for="negativna">Velika scena:</label>
                <button type="reset" onclick="noviFormular()" class="button" class="fiksni">Novi događaj</button>
                <button type="button" class="button" onclick="dogadjaj()">Pokupi</button>
                <button type="reset" class="button" onclick="obrisi()">Obriši</button>

            </fieldset>
        </form>
    </div>
    <div id="entry-message"></div>
    <script src="../js/entry.js"></script>
    <script src="../js/signout.js"></script>
</body>

</html>