<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../style/navigationShop.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../style/eshop.css" />
        <title>E-shop</title>

    </head>

    <body onload="user()" >  
        <!---NAVIGATION-->
        <nav class="flex-row">
            <div id="logo">
                <a href="../index.html">
                    <img class="nav-img-logo" src="../images/drama6.jpg">
                </a>
            </div>
            <div class="nav-bg" >
                <a id="signOut"  href="../index.html" onclick="signOutEshop()">Sign Out</a>     
            </div>
        </nav>
        <h2 id="eshop-header">E - shop</h2>
        <div id="eshop-container" >
        </div>
        <div id="omotac1">
        </div>
    
        <script rel="text/js" src="../js/session.js"></script>
        <script rel="text/js" src="../js/signout.js"></script>
        <script rel="text/js" src="../js/eshop.js"></script>
    </body>

</html>