<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prodaja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style/navigationEShop.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../style/sale.css"/>
    <link rel="icon" href="../images/drama6.jpg" type="image/jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>   
    <d id="sale-navigation"> 
        <nav class="flex-row">
            <div id="logo">
                <a href="../index.html">
                    <img class="nav-img-logo" src="../images/drama6.jpg">
                </a>
            </div>
            <div class="nav-bg" >
                <a  title="Idite na unos ulaznica..."  href="./entry.html">Unos</a>     
            </div>
        </nav>
        <div id="sale-container" >
        </div>
        <hr style="color: aquamarine;">
        <div id="search-filter">
            
            <div class="filter-box">                                
                <input type="text" id="karakter"><br><br>
                <label for="karakter"> <h3>Dogadjaji čije ime sadrži karaktere:</h3></label>
            </div>  
            <div class="filter-box">                 
                <input type="checkbox" id="kolicinaKarata"><br><br> 
                <label for="karakter"> <h3>Količina veća od 0:</h3></label><br>
            </div>   
            <div class="filter-box">
               
                <input type="checkbox" id="prebroj"><br><br>
                <label for="karakter"> <h3>Prebroj filtrirane događaje:</h3></label><br>
                <br>
            </div>    
        </div>
        <h2 id="sale-header">Sale</h2>
        
           
        
            <div id="sale-buttons">
                <button type="button" class="button" id="filter-button" onclick="filtriraj()"><a href="#">Filtriraj</a></button><br>
                <button type="reset" class="button" id="clear-button"><a href="#">Obriši</a></button><br>            
                <button type="button" class="button" id="reservation-button"><a href="filter.html"> Rezerviši</a></button><br>
                <button type="button" class="button" id="reservation"><a href="#" > Dodajte </a></button><br>            
                        
            </div>
        
    </div>
    <div id="sale-message">            
    </div>
    <div class="open-store" id="open-store"></div>
    <div id="active-store"></div>






    <!--<div class="container">
        <h1 onmouseover="filter()"> <i class="fa fa-opencart" style="font-size:48px;color:darkgoldenrod">  </i> FILTER DOGAĐAJA</h1>
    -->
        <!-- <button type="button" onclick="filter()" class="fiksni">Filteri</button><br><br>-->
        
        <!--Forma za izbor filtera-->

        <!--<form id="selektujFilter" style="display: none">
            <fieldset>
                Vrsta događaja:<br>
                <select id="filterVrsta" size="4">          
                            
                                    <option value="Opera">  Opera </option>
                                    <option value="Balet">  Balet </option>
                                    <option value="Predstava">  Predstava </option>
                                    <option value="Filharmonija"> Filharmonija </option>  
                            </select><br> Vrsta scene:<br>
                <select id="filterScena" size="2">
                            
                                <option value="Mala scena">Mala</option>
                                <option value="Velika scena">Velika</option>
                            </select><br> Količina veća od 0:<br>
                <input type="checkbox" id="kolicinaKarata"><br> Dogadjaji čije ime sadrži karaktere:<br>
                <input type="text" id="karakter"><br><br>
                <input type="checkbox" id="prebroj">Prebroj filtrirane događaje<br>

                <button type="button" onclick="filtriraj()">Filtriraj</button>
                <button type="reset">Obriši</button>
                <a href="filter.html" class="rezervisi">Rezerviši</a>

            </fieldset>
        </form>
        <br><br>-->
        <!--------------------------------------------------------------------------------------------->
       <!--<div id="ispisOpcijaFiltera"></div>

        <table id="roditelj">
            <tr id="tabelaFiltriranihDogadjaja1" style="display: none">
                <th>NAZIV</th>
                <th>AUTOR</th>
                <th>CENA </th>
                <th>DATUM</th>
                <th>KOLIČINA ULAZNICA</th>
                <th>VRSTA DOGAĐAJA</th>
                <th>SCENA</th>
            </tr>
        </table>
    </div>-->
    <script src="../js/sale.js"></script>
</body>

</html>