<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prodaja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style/navigationEShop.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../style/sale.css"/>
    <link rel="icon" href="../images/drama6.jpg" type="image/jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body onload="user()">   
    <div id="sale-navigation"> 
        <nav class="flex-row">
            <div id="logo">
                <a href="../index.html">
                    <img class="nav-img-logo" src="../images/drama6.jpg">
                </a>
            </div>
            <div class="nav-bg" >
                <a  title="Idite na unos ulaznica..."  href="./entry.html">Unos</a> 
                <a id="signOut"  href="../index.html" onclick="signOutEshop('shops')">Sign Out</a>    
            </div>
        </nav>
        <div id="sale-container" ></div> 
        <h2 id="sale-header">Prodavnica</h2>        
        <div id="sale-buttons">
            <button type="button" class="button" id="filter-button" onclick="doFilter()"><a href="#">Filtriraj</a></button><br>
            <button type="reset" class="button" id="clear-button" onclick = "removeAllFilters()"><a href="#">Obriši</a></button><br>            
            <button type="button" class="button" id="reservation-button"><a href="./saleCard.html">Korpa </a></button><br>
            <button type="button" class="button" id="reservation" onclick = "makeNewReservation()"><a href="#" > Rezerviši </a></button><br>
                        
        </div>  
        <p id="quantity"></p>      
    </div>
    <div id="sale-message"></div>
    <div class="open-store" id="open-store"></div>
    <div>
        <span id="active-store"></span>
        <span id="active-scene"></span>
        <span id="active-search"></span>
    </div>

    <script src="../js/sale.js"></script>
    <script src = "../js/signout.js"></script>
    <script src="../js/session.js"></script>
</body>

</html>