<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Korpa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="icon" href="../images/drama6.jpg" type="image/jpg">
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>

</head>

<body>
    <a href="../index.html">HOME</a>
    <a href="./eshop.html.">E-SHOP</a>


    <div class="omotac">

        <h1> <i class="fa fa-opencart" style="font-size:48px;color:darkgoldenrod">  </i> KORPA</h1>
        <p id="poruka"></p>
        <div id="ispisOpcijaFiltera"></div>

        <table id="roditelj" style="position: relative;left: -30%;">
            UKUPAN IZNOS:<input type="number" id="ceh" value="0" placeholder="0">
            <tr id="tabelaRezervisanihDogadjaja">
                <th>NAZIV</th>
                <th>AUTOR</th>
                <th>CENA </th>
                <th>DATUM</th>
                <th>KOLIČINA ULAZNICA</th>
                <th>VRSTA DOGAĐAJA</th>
                <th>SCENA</th>
                <th>REZERVACIJA</th>
                <th>OBRISI</th>
                <th>IZNOS</th>
            </tr>
        </table>


    </div>
    <script src="../js/shoppingCard.js"></script>
</body>

</html>